/*
Word Counter Stylesheet
*/

body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
	background:#2a7cc4;
}
.back{
	color:white;
	text-decoration:none;
}
.countContainer{
	margin:0 auto;
	width:600px;
}
.countContainer .test-area{
	color:#fff;
}
.test-wrapper textarea{
	width:100%;
	font-family:sans-serif;

}
h2{
	color:white;
}
#clock{
	padding-top:20px;
	padding-bottom:20px;
}
#reset{
	background:#fff;
	color:#2a7cc4;
	padding:10px;
	border:none;
}
@media screen and (max-width: 700px) {
	.countContainer{
		width:auto;
	}
	.countContainer .test-area{
		padding:20px;
	}
}